/* using Google Fonts */
body {
  font-family: 'Open Sans', sans-serif;
}

/* game table */
.table {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
}

/* inside spots of grid */
.spot {
  padding: 35px 0;
  text-align: center;
  font-size: 30px;
}
/* each portion of the grid */
#one, #four, #five {
  border-right: solid #6c757d;
  border-bottom: solid #6c757d;
}

#two {
  border-right: solid #6c757d;
  border-bottom: solid #6c757d;
}

#three, #six {
  border-bottom: solid #6c757d;
}

#seven, #eight {
  border-right: solid #6c757d;
}

/* title on top of webpage */
#title {
  color: #229bbf;
  font-size: 55px;
  text-align: center;
}

/* button to reset game */
#button {
  cursor: pointer;
  background-color: #229bbf;
  color: white;
  margin: 0 auto;
  display: block;
  width: 1000px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 8px;
  font-size: 20px;

}
/* button changes when hover over */
#button:hover {
  background-color: #67c8e6;
}

/* winner announcement */
#announcement {
  color: #6c757d;
  text-align: center;
  font-size: 60px;
}
