<!-- FAILED ATTEMPT AT LINK -->
<!-- <div style="text-align: right; margin-bottom: 10px; margin-right: 10px;">
  <a href="/download">Download</a>
</div> -->

<!-- DOWNLOAD FILE -->
<form action="/download" method="GET">
  <button>DOWNLOAD</button>
</form>
<br>