<form action="/upload_json" method="POST" style="margin: 0 auto; width: 400px;">
  <textarea name="data" id="submit" cols="50" rows="10"></textarea>
  <input type="submit">
</form>
<br>

<!-- File picker version -->
<form action="/upload_json" method="POST" style=" width: 400px;" name="uploadForm">
  <div>
    <input type="file" name="myFiles">
  </div>
  <div><input type="submit" value="Send file"></div>
</form>